@import './variables';

.second-page-content {
  position: relative;
  width: 100%;
  height: 100%;

  .second-page-content__pictures{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .second-page-content__image_1 {
      width: 1080px;
      height: 556px;
      position: absolute;
      right: 0;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 6.png');
      background-size: cover;
    }

    .second-page-content__image_2 {
      width: 910px;
      height: 517px;
      position: absolute;
      top: 50px;
      right: 0;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 2.png');
      background-size: cover;
    }

    .second-page-content__image_3 {
      width: 660px;
      height: 360px;
      position: absolute;
      top: 50px;
      right: 20px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 4.png');
      background-size: cover;
    }

    .second-page-content__image_4 {
      width: 800px;
      height: 1000px;
      position: absolute;
      bottom: 230px;
      right: 0px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 3.png');
      background-size: 100%;
    }

    .second-page-content__image_5 {
      width: 800px;
      height: 1000px;
      position: absolute;
      top: 150px;
      right: 0px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 5.png');
      background-size: 100%;
    }
  }

  .second-page-content__text_header {
    display: block;
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    top: 150px;
    left: $left;
  }

  .second-page-content__text{
    position: relative;
    top: 240px;
    left: $left;
    height: 445px;
    width: 783px;
    background: none;
    overflow-y: scroll;
    border-radius: 25px;
    padding: 20px;
    direction: rtl;

    &::-webkit-scrollbar {
      width: 20px;
      height: 150px;
      background-color: rgba(160, 160, 160, 0); 
    }
    
    &::-webkit-scrollbar-thumb {
      background: #d0598e;
      box-shadow: -1px -1px 9px #ffffff inset, 1px 1px 7px #883a5d inset;
      border-radius: 10px;
    }

    p{
      direction: ltr;
      font-size: 30px;
    }

  }
}