@import './variables';

.second-page-content {
  position: relative;
  width: 100%;
  height: 100%;
  .second-page-content__background {
    top: 240px;
    left: $left;
    height: 445px;
    width: 783px;
    margin-left: 20px;
    background: white;
    position: absolute;
    border-radius:25px;
  }
  .second-page-content__pictures{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .second-page-content__image_1 {
      width: 655px;
      height: 288px;
      position: absolute;
      top: 99px;
      right: 0;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 6.png');
      background-size: cover;      
      
      &.second-page-content__image_1_entering {
        animation: image_1 2100ms 1 ease-in-out;
      }
      &.second-page-content__image_1_entered {
        opacity: 1;
      }
      &.second-page-content__image_1_exiting {
        animation: hide 350ms 1 ease;
      }
      &.second-page-content__image_1_exited {
        opacity: 0;
      }
    }

    .second-page-content__image_2 {
      width: 441px;
      height: 177px;
      position: absolute;
      top: 96px;
      right: 0;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 2.png');
      background-size: cover;
      
      &.second-page-content__image_2_entering {
        animation: image_2 2100ms 1 ease;
      }
      &.second-page-content__image_2_entered {
        opacity: 1;
      }
      &.second-page-content__image_2_exiting {
        animation: hide 350ms 1 ease;
      }
      &.second-page-content__image_2_exited {
        opacity: 0;
      }
    }

    .second-page-content__image_3 {
      width: 270px;
      height: 101px;
      position: absolute;
      top: 74px;
      right: 45.5px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 4.png');
      background-size: cover;

      &.second-page-content__image_3_entering {
        animation: image_3 2100ms 1 ease;
      }
      &.second-page-content__image_3_entered {
        opacity: 0.6;
      }
      &.second-page-content__image_3_exiting {
        animation: hide 350ms 1 ease;
      }
      &.second-page-content__image_3_exited {
        opacity: 0;
      }
    }

    .second-page-content__image_4 {
      width: 134px;
      height: 86px;
      position: absolute;
      bottom: 273px;
      right: 0px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 3.png');
      background-size: cover;
      
      &.second-page-content__image_4_entering {
        animation: image_4 1600ms 1 ease;
      }
      &.second-page-content__image_4_entered {
        opacity: 1;
      }
      &.second-page-content__image_4_exiting {
        animation: hide 350ms 1 ease;
      }
      &.second-page-content__image_4_exited {
        opacity: 0;
      }
    }

    .second-page-content__image_5 {
      width: 136px;
      height: 77px;
      position: absolute;
      bottom: 176px;
      right: 0px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 5.png');
      background-size: cover;
      
      &.second-page-content__image_5_entering {
        animation: image_5 1600ms 1 ease;
      }
      &.second-page-content__image_5_entered {
        opacity: 1;
      }
      &.second-page-content__image_5_exiting {
        animation: hide 350ms 1 ease;
      }
      &.second-page-content__image_5_exited {
        opacity: 0;
      }
    }
  }

  .second-page-content__text_header {
    display: block;
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    top: 150px;
    left: $left;
  }

  .second-page-content__text{
    position: relative;
    top: 240px;
    left: $left;
    height: 445px;
    width: 783px;
    background: none;
    overflow-y: scroll;
    border-radius: 25px;
    padding: 20px;
    direction: rtl;

    &::-webkit-scrollbar {
      width: 20px;
      height: 150px;
      background-color: rgba(160, 160, 160, 0); 
    }
    
    &::-webkit-scrollbar-thumb {
      background: #d0598e;
      box-shadow: -1px -1px 9px #ffffff inset, 1px 1px 7px #883a5d inset;
      border-radius: 10px;
    }

    p{
      direction: ltr;
      font-size: 30px;
    }

  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes image_1 {
  from {
    opacity: 0;
    transform: translate(200%, 100%);
  }
  to{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes image_2 {
  from {
    transform: translate(200%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes image_3 {
  from {
    transform: translate(200%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0.6;
  }
}
@keyframes image_4{
  from {
    transform: translate(200%, 100%);
    opacity: 0;
  }
  to {
    bottom: 273px;
    right: 0px;
    opacity: 1;
  }
}
@keyframes image_5 {
  from {
    transform: translate(200%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}