@import './variables';

.second-page-content {
  position: relative;
  width: 100%;
  height: 100%;

  .second-page-content__pictures{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .second-page-content__image_1 {
      width: 655px;
      height: 288px;
      position: absolute;
      top: 99px;
      right: 0;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 6.png');
      background-size: cover;      

      &.active {
        animation-name: image_1 ;
        animation-delay: 0.2s;
        animation-iteration-count: 1;
        animation-duration: 1.6s;
        animation-timing-function: ease;
      }
    }

    .second-page-content__image_2 {
      width: 441px;
      height: 177px;
      position: absolute;
      top: 96px;
      right: 0;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 2.png');
      background-size: cover;

      &.active {
        animation-name: image_2 ;
        animation-delay: 0.3s;
        animation-iteration-count: 1;
        animation-duration: 1.6s;
        animation-timing-function: ease;
      }
    }

    .second-page-content__image_3 {
      width: 270px;
      height: 101px;
      position: absolute;
      top: 74px;
      right: 45.5px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 4.png');
      background-size: cover;
      opacity: 0.6;

      &.active {
        animation-name: image_3 ;
        animation-delay: 0.4s;
        animation-iteration-count: 1;
        animation-duration: 1.6s;
        animation-timing-function: ease;
      }
    }

    .second-page-content__image_4 {
      width: 134px;
      height: 86px;
      position: absolute;
      bottom: 273px;
      right: 0px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 3.png');
      background-size: cover;

      &.active {
        animation-name: image_4 ;
        animation-delay: 0.2s;
        animation-iteration-count: 1;
        animation-duration: 1.6s;
        animation-timing-function: ease;
      }
    }

    .second-page-content__image_5 {
      width: 136px;
      height: 77px;
      position: absolute;
      bottom: 176px;
      right: 0px;
      background-image: url('../img/second-page/Layer\ 3\ copy\ 5.png');
      background-size: cover;

      &.active {
        animation-name: image_5 ;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-duration: 1.6s;
        animation-timing-function: ease;
      }
    }
  }

  .second-page-content__text_header {
    display: block;
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    top: 150px;
    left: $left;
  }

  .second-page-content__text{
    position: relative;
    top: 240px;
    left: $left;
    height: 445px;
    width: 783px;
    background: none;
    overflow-y: scroll;
    border-radius: 25px;
    padding: 20px;
    direction: rtl;

    &::-webkit-scrollbar {
      width: 20px;
      height: 150px;
      background-color: rgba(160, 160, 160, 0); 
    }
    
    &::-webkit-scrollbar-thumb {
      background: #d0598e;
      box-shadow: -1px -1px 9px #ffffff inset, 1px 1px 7px #883a5d inset;
      border-radius: 10px;
    }

    p{
      direction: ltr;
      font-size: 30px;
    }

  }
}

@keyframes image_1 {
  from {
    right: -20%;
    top: 40%;
    opacity: 0;
  }
  to {
      top: 99px;
      right: 0;
      opacity: 1;
  }
}
@keyframes image_2 {
  from {
    right: -20%;
    top: 40%;
    opacity: 0;
  }
  to {
    top: 96px;
    right: 0;
    opacity: 1;
  }
}
@keyframes image_3 {
  from {
    right: -20%;
    top: 40%;
    opacity: 0;
  }
  to {
    top: 74px;
    right: 45.5px;
    opacity: 0.6;
  }
}
@keyframes image_4{
  from {
    right: -20%;
    opacity: 0;
  }
  to {
    bottom: 273px;
    right: 0px;
    opacity: 1;
  }
}
@keyframes image_5 {
  from {
    right: -20%;
    opacity: 0;
  }
  to {
    bottom: 176px;
    right: 0px;
    opacity: 1;
  }
}